@import "../../common/colors.scss";

.news-list {
    margin: 20px 0px;
    h2 {
        color: $font-secondary;
        margin-bottom: 10px;
        font-weight: 400;
    }
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



